<div class="card">
  <h5 class="card-header">Order</h5>
  <div class="card-body">
    <h6 class="card-title">Total:</h6>
    <p class="card-text order-total">$ {{order.total}}</p>
    <a  class="btn btn-primary button-checkout" (click)="checkout(orderModal)">Checkout</a>
  </div>
</div>


  <!-- Order modal -->
  <ng-template #orderModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <app-brand></app-brand>
          <h4 class="modal-title" id="modal-basic-title">Order placed</h4>
          <div class="modal-body">
            <p>Order no. : {{orderNumber}}</p>
            <p>Customer : {{customer.email}}</p>
            <p>Shipping adress : {{customer.adress}}</p>
          </div>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-template>


