<div class="container">
  <div class="row">
    <div class="col-xl-3 col-xs-6">
      <!-- filter acordeon -->
      <app-product-filter [products] = "products">
      </app-product-filter>
    </div>
    <div class="col">
      <div class="row">
        <!-- results text -->
        <div class="col text-left">
          <p>Showing {{products.length}} of {{products.length}} results</p>
        </div>
        <!-- dropdown sorting -->
        <app-product-sort [products] = "products" (newSortedProducts)="getSortedProducts($event)">
        </app-product-sort>
      </div>
      <div class="row g-0 justify-content-center flex-container">
        <!-- product cards -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-12 displayCol"  *ngFor="let product of products | slice: (page-1) * pageSize : page * pageSize" >
          <div class="card">
            <img [src]="product.picture_url2" class="card-img-top" [alt]="product.picture_url1">
            <div class="card-body">
              <h6 class="card-title">{{product.name}}</h6>
              <ngb-rating [rate]="product.rating" [readonly]="true" [max]="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <h5 class="card-price">${{product.price}}</h5>
              <a href="#" class="btn btn-primary add-cart">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
        <!-- pagination -->
        <div class="col">
          <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="products.length">
            <ng-template ngbPaginationPrevious><</ng-template>
            <ng-template ngbPaginationNext>></ng-template>
            <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
          </ngb-pagination>
        </div>
    </div>
  </div>
</div>


