<!-- <p>products works!</p>
<ul class="heroes">
  <li *ngFor="let product of products">
    <a>
      <span class="badge">{{product.name}}</span>{{product.rating}}
    </a>
  </li>
</ul> -->
<div class="container">
  <div class="row g-0 justify-content-center flex-container">
    <div class="col-xl-3 col-lg-4 col-md-6 col-12 displayCol"  *ngFor="let product of products" >
      <div class="card">
        <img [src]="product.picture_url2" class="card-img-top" [alt]="product.picture_url1">
        <div class="card-body">
          <h6 class="card-title">{{product.name}}</h6>
          <ngb-rating [rate]="product.rating" [readonly]="true" [max]="5">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <h5 class="card-price">${{product.price}}</h5>
          <a href="#" class="btn btn-primary add-cart">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>

