<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" (panelChange)="beforeChange($event)" >
  <ngb-panel title="Reset filters" id="preventchange-2">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button ngbPanelToggle class="btn btn-link container-fluid  pl-0">Reset</button>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title={{rangeCategory.title}} *ngFor="let rangeCategory of rangeCategories">
    <ng-template ngbPanelContent>
      <div class="filter" >
        <div class="form-check {{rangeCategory.title}}" *ngFor="let item of rangeCategory.items">
          <input class="form-check-input" type="checkbox" [(ngModel)]="item.selected" (change)="filterProducts()">
          <label class="form-check-label" for="flexCheckDefault">
            {{item.minValue}} - {{item.maxValue}} {{item.unit}}
          </label>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title={{booleanCategory.title}} *ngFor="let booleanCategory of booleanCategories">
    <ng-template ngbPanelContent>
      <div class="filter" >
        <div class="form-check" *ngFor="let item of booleanCategory.items">
          <input class="form-check-input {{booleanCategory.title}}" type="checkbox" [(ngModel)]="item.selected" (click)="filterProducts()">
          <label class="form-check-label" for="flexCheckDefault">
            {{item.label}}
          </label>
        </div>
      </div>
    </ng-template>
  </ngb-panel>

</ngb-accordion>


