<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="register-email" class="form-label">Email</label>
    <input type="email" class="form-control" id="register-email" formControlName="email">
    <span class="text-danger"
      *ngIf="(f.email.touched || f.email.invalid || f.email.dirty) && f.email.errors?.required">
    </span>
  </div>
  <div class="mb-3">
    <label for="register-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="register-password" formControlName="password">
    <span class="text-danger"
      *ngIf="(f.password.touched || f.password.invalid || f.password.dirty) && f.password.errors?.required">
    </span>
  </div>
  <button type="submit" class="btn btn-success btn-lo" [disabled]="!loginForm.valid">Login</button>
  <button type="submit" class="btn btn-primary btn-lo" (click)="logout()">Logout</button>
</form>
<div
          class="alert alert-danger"
          role="alert"
          *ngIf="isLoginFailed">
          Login failed: {{ errorMessage }}
</div>
