<div class="col-7 form-container">
    <form class="row g-3" [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div clas="col-md-12">
        <h2>Product Form</h2><span>only for admin users</span>
      </div>
      <div class="col-md-10">
        <label for="product-name" class="form-label form-title">Name</label>
        <input type="text" class="form-control" id="product-name" formControlName="name" >
          <span class="text-danger"
            *ngIf="(f.name.touched || f.name.invalid || f.name.dirty) && f.name.errors?.required">
            Name is required
          </span>
      </div>
      <div class="col-md-2" *ngIf="isEditMode">
        <label for="product-id" class="form-label form-title">Id</label>
        <input type="text" class="form-control" id="product-id" formControlName="product_id">
      </div>
      <div class="col-md-3">
        <label for="product-price" class="form-label form-title">Price</label>
        <input type="text" class="form-control" id="product-price" placeholder="$" formControlName="price">
          <span class="text-danger"
            *ngIf="(f.price.touched || f.price.invalid || f.price.dirty) && f.price.errors?.required">
            Price is required
          </span>
      </div>
      <div class="col-md-2">
        <label for="product-discount" class="form-label form-title">Discount</label>
        <input type="text" class="form-control" id="product-discount" placeholder="0...100" formControlName="discount">
      </div>
      <div class="col-md-2">
        <label for="product-rating" class="form-label form-title">Rating</label>
        <input type="text" class="form-control" id="product-rating" placeholder="0...5" formControlName="rating">
      </div>
      <div class="col-md-2">
        <label for="product-age" class="form-label form-title">Age</label>
        <input type="text" class="form-control" id="product-age" formControlName="age">
          <span class="text-danger"
            *ngIf="(f.age.touched || f.age.invalid || f.age.dirty) && f.age.errors?.required">
            Age is required
          </span>
      </div>
      <div class="col-md-3">
        <label for="product-pieces" class="form-label form-title">Piece Count</label>
        <input type="text" class="form-control" id="product-pieces" formControlName="piece_count">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-12">
        <label for="product-description" class="form-label form-title">Description</label>
        <textarea class="form-control" id="product-description" rows="2" formControlName="description"></textarea>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <label for="product-availability" class="form-label form-title">Availability</label>
          <div *ngFor="let availability of availabilities">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value={{availability}} formControlName="availability">
              <label class="form-check-label" for="inlineRadio">{{availability}}</label>
            </div>
          </div>
          <span class="text-danger"
            *ngIf="(f.availability.touched || f.availability.invalid || f.availability.dirty) && f.availability.errors?.required">
            Availability is required
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <label for="product-theme" class="form-label form-title">Theme</label>
        </div>
        <div class="col-md-12">
          <select class="form-select" aria-label="Default select example" formControlName="theme_id">
            <option *ngFor="let theme of themes" value={{theme.theme_id}}>{{theme.name}}
            </option>
          </select>
            <span class="text-danger"
              *ngIf="(f.theme_id.touched || f.theme_id.invalid || f.theme_id.dirty) && f.theme_id.errors?.required">
              Theme selection is required
            </span>
        </div>
      </div>
      <div class="col-md-10">
        <label for="form-picture-url" class="form-label form-title">Load product pictures</label>
        <input class="form-control" id="form-picture-url1" type="file" accept=".png, .jpg, .svg" (change)="uploadFile($event, 1)">
          <span class="text-danger"
            *ngIf="(f.image1.invalid) && f.image1.errors?.required">
            Picture 1 upload is required
          </span>
      </div>
      <div class="col-md-2">
        <img class="form-picture-img" src="{{imageDisplay[0]}}" *ngIf="isEditMode" alt="Your image" style="display: block" />
      </div>
      <div class="col-md-10">
        <input class="form-control" id="form-picture-url2" type="file" accept=".png, .jpg, .svg" (change)="uploadFile($event, 2)">
          <span class="text-danger"
          *ngIf="(f.image2.invalid) && f.image2.errors?.required">
          Picture 2 upload is required
          </span>
        </div>
      <div class="col-md-2">
        <img class="form-picture-img" src="{{imageDisplay[1]}}" alt=""*ngIf="isEditMode" alt="Your image" style="display: block" />
      </div>
      <div class="col-md-10">
        <input class="form-control" id="form-picture-url3" type="file" accept=".png, .jpg, .svg" (change)="uploadFile($event, 3)">
          <span class="text-danger"
            *ngIf="(f.image3.invalid) && f.image3.errors?.required">
            Picture 3 upload is required
          </span>
      </div>
      <div class="col-md-2">
        <img class="form-picture-img" src="{{imageDisplay[2]}}" *ngIf="isEditMode" alt="Your image" style="display: block" />
      </div>
      <div class="col-md-12">
        <p><p>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
      </div>
    </form>
</div>



